Repository myzhang1029/penguin-rs: changes, and which Codecov flags are due for each by the changed paths.
All: multiplexer, server, client

Fix missing tests by cargo mutants
  src/mux/frame.rs
Due: multiplexer

Add test for shutdown
  src/mux/stream.rs
Due: multiplexer

Use Google teapot for testing for now
  src/server/service.rs
Due: server

Fix test mux_stream_shutdown
  src/mux/stream.rs
Due: multiplexer

Server arg parsing
  src/arg.rs
  src/config.rs
  src/server/mod.rs
  src/server/service.rs
  src/server/websocket.rs
Due: server

Implement a specialized copy_bidirectional
  src/client/handle_remote/socks/mod.rs
  src/client/handle_remote/tcp.rs
  src/mux/stream.rs
  src/server/forwarder.rs
Due: multiplexer, server, client

Fix clippy and extra casting
  src/mux/stream.rs
Due: multiplexer

Second try design
  src/client/handle_remote/socks/mod.rs
  src/client/handle_remote/tcp.rs
  src/mux/stream.rs
  src/server/forwarder.rs
Due: multiplexer, server, client

Add tests for copy_bidirectional
  src/mux/stream.rs
Due: multiplexer

Add test for missing ack
  src/mux/stream.rs
Due: multiplexer

Fix Ack in copy_bidir
  src/mux/stream.rs
Due: multiplexer

Fix clippy
  src/mux/stream.rs
Due: multiplexer

Simplify code and fix consume
  src/mux/stream.rs
Due: multiplexer

Fix missing break
  src/config.rs
  src/mux/stream.rs
  src/server/websocket.rs
Due: multiplexer, server

Implement AsyncBufRead and rotate other things
  src/mux/stream.rs
Due: multiplexer

Small fixup
  src/mux/stream.rs
Due: multiplexer

Add tracing points
  src/mux/stream.rs
Due: multiplexer

Fix missing flush
  src/mux/stream.rs
Due: multiplexer

Simplify code
  src/mux/stream.rs
Due: multiplexer

Record flow_id on closure in tracing
  src/mux/task.rs
Due: multiplexer

Use Rust 2024 prelude directly
  src/mux/timing.rs
  src/server/acme/mod.rs
  src/server/mod.rs
  src/server/service.rs
Due: multiplexer, server

Make tokio-console work with the rest
  Cargo.toml
  src/main.rs
Due: none

Add tests for MuxStream's Drop behaviour
  src/mux/tests.rs
Due: multiplexer

Fix cargo-install action
  .github/workflows/rust.yml
Due: none

Bump version
  Cargo.lock
  Cargo.toml
Due: none

Remove unnecessary closures
  src/client/handle_remote/socks/mod.rs
  src/client/handle_remote/tcp.rs
  src/client/handle_remote/udp.rs
  src/mux/lib.rs
  src/mux/stream.rs
  src/mux/task.rs
  src/mux/tests.rs
  src/server/service.rs
  src/tls/rustls.rs
Due: multiplexer, server, client

Remove unnecessary async block
  src/client/handle_remote/socks/mod.rs
  src/mux/stream.rs
Due: multiplexer, client

Simplify client code
  Cargo.lock
  src/arg.rs
  src/client/maybe_retryable.rs
  src/client/mod.rs
  src/client/ws_connect.rs
  src/tests.rs
Due: client

Implement client timeout
  src/arg.rs
  src/client/mod.rs
  src/client/ws_connect.rs
  src/tests.rs
Due: client

Capture Ctrl-C so that WS can be closed cleanly
  src/client/mod.rs
Due: client

Allow retry and add tests
  src/client/maybe_retryable.rs
  src/client/mod.rs
  src/tests.rs
Due: client

Resolve clippy
  src/client/maybe_retryable.rs
  src/client/mod.rs
  src/client/ws_connect.rs
Due: client

Add test
  src/client/mod.rs
  src/tests.rs
Due: client

Implement some Eq
  src/parse_remote.rs
Due: none

Clean up borrows and rename for clarity (client)
  src/client/handle_remote/socks/mod.rs
  src/client/handle_remote/socks/v4.rs
  src/client/handle_remote/socks/v5.rs
  src/client/mod.rs
  src/mux/stream.rs
Due: multiplexer, client

Implement multiple server datagrams
  src/server/forwarder.rs
  src/server/websocket.rs
Due: server

Make sure socks write response in one piece
  src/client/handle_remote/socks/v4.rs
  src/client/handle_remote/socks/v5.rs
  src/tests.rs
Due: client

Fix clippy
  src/server/forwarder.rs
Due: server

Delete .gitmodules
  .gitmodules
Due: none

Tests for the actual upgrade with PSK
  src/server/service.rs
Due: server

Path conditions:
  multiplexer: any of: src/mux/**
  server: any of: src/server/**
  client: any of: src/client/**
