Repository myzhang1029/penguin-rs: changes, and which Codecov flags are due for each by the changed paths.
All: multiplexer, server, client

.codecov.yml:

component_management:
  default_rules:
    paths:
      - src/**
  individual_components:
    - component_id: rlib_penguin_mux
      name: multiplexer
      paths:
        - src/mux/**
    - component_id: bin_penguin_server
      name: server
      paths:
        - src/server/**
    - component_id: bin_penguin_client
      name: client
      paths:
        - src/client/**

Try codspeed
  .github/workflows/codspeed.yml
Due: none

Revert "Try codspeed"
  .github/workflows/codspeed.yml
Due: none

Test and bench contention scenario
  benches/stream_throughput.rs
  src/mux/tests.rs
Due: multiplexer

Do our own split locking
  src/mux/lib.rs
  src/mux/task.rs
  src/mux/tests.rs
Due: multiplexer

Test benchmark code in CI
  .github/workflows/rust.yml
Due: none

Decouple tungstenite
  Cargo.lock
  Cargo.toml
  src/client/maybe_retryable.rs
  src/mux/lib.rs
  src/mux/stream.rs
  src/mux/task.rs
  src/mux/tests.rs
  src/mux/ws.rs
Due: multiplexer, client

Add clippy and cargo constraints
  .clippy.toml
  Cargo.toml
Due: none

Remove unused repr(C)
  src/mux/frame.rs
Due: multiplexer

Redefine traits
  src/mux/ws.rs
Due: multiplexer

Fix feature gating
  src/client/maybe_retryable.rs
  src/mux/tests.rs
Due: multiplexer, client

Add doc
  src/mux/ws.rs
Due: multiplexer

Allow disabling tungstenite
  Cargo.toml
  src/mux/lib.rs
  src/mux/task.rs
  src/mux/tests.rs
  src/mux/timing.rs
  src/mux/ws.rs
Due: multiplexer

Add test for basic
  .github/workflows/rust.yml
  src/mux/tests.rs
Due: multiplexer

Fix feature gating
  Cargo.toml
Due: none

Allow disabling UDP tests
  Cargo.toml
  src/tests.rs
Due: none

Fix some tests misses discovered by cargo-mutants
  src/mux/frame.rs
  src/mux/tests.rs
Due: multiplexer

Remove the special meaning of empty frames
  src/mux/frame.rs
  src/mux/task.rs
Due: multiplexer

Add tests for generic WS conversion
  src/mux/ws.rs
Due: multiplexer

One more fuzz case
  fuzz/Cargo.lock
  fuzz/Cargo.toml
  fuzz/fuzz_targets/frame_parser.rs
  fuzz/fuzz_targets/socket_input.rs
Due: none

Fuzz base
  Cargo.toml
  fuzz/.gitignore
  fuzz/Cargo.lock
  fuzz/Cargo.toml
  fuzz/fuzz_targets/frame_parser.rs
  src/mux/frame.rs
Due: multiplexer

Fix extra clone
  src/mux/ws.rs
Due: multiplexer

Fix missing tests by cargo mutants
  src/mux/frame.rs
Due: multiplexer

Use Google teapot for testing for now
  src/server/service.rs
Due: server

Add test for shutdown
  src/mux/stream.rs
Due: multiplexer

Implement a specialized copy_bidirectional
  src/client/handle_remote/socks/mod.rs
  src/client/handle_remote/tcp.rs
  src/mux/stream.rs
  src/server/forwarder.rs
Due: multiplexer, server, client

Add tests for copy_bidirectional
  src/mux/stream.rs
Due: multiplexer

Fix test mux_stream_shutdown
  src/mux/stream.rs
Due: multiplexer

Fix clippy and extra casting
  src/mux/stream.rs
Due: multiplexer

Add compile-time sanity check
  src/mux/config.rs
Due: multiplexer

Add test for missing ack
  src/mux/stream.rs
Due: multiplexer

Fix Ack in copy_bidir
  src/mux/stream.rs
Due: multiplexer

Remove unused stuff in actions
  .github/workflows/clippy.yml
  .github/workflows/devskim.yml
  .github/workflows/rust.yml
  .github/workflows/stress.yml
Due: none

Implement Default when applicable
  src/mux/frame.rs
  src/mux/timing.rs
Due: multiplexer

Refactor current code to use Options
  benches/stream_throughput.rs
  fuzz/fuzz_targets/socket_input.rs
  src/client/mod.rs
  src/mux/config.rs
  src/mux/lib.rs
  src/mux/tests.rs
  src/server/websocket.rs
Due: multiplexer, server, client

Migrate the entire interface to options
  src/client/mod.rs
  src/mux/config.rs
  src/mux/lib.rs
  src/mux/task.rs
  src/mux/tests.rs
  src/mux/timing.rs
Due: multiplexer, client

More reasonable checks
  src/client/mod.rs
  src/mux/config.rs
  src/mux/tests.rs
Due: multiplexer, client

Add to docs
  src/mux/config.rs
  src/mux/lib.rs
Due: multiplexer

Fix From<Duration>
  src/mux/timing.rs
Due: multiplexer

Add tests
  src/mux/config.rs
Due: multiplexer
