Repository myzhang1029/penguin-rs: changes, and which Codecov flags are due for each by the changed paths.
All: multiplexer, server, client

Fix clippy
  src/server/forwarder.rs
Due: server

Simplify client code
  Cargo.lock
  src/arg.rs
  src/client/maybe_retryable.rs
  src/client/mod.rs
  src/client/ws_connect.rs
  src/tests.rs
Due: client

Resolve clippy
  src/client/maybe_retryable.rs
  src/client/mod.rs
  src/client/ws_connect.rs
Due: client

Remove unnecessary async block
  src/client/handle_remote/socks/mod.rs
  src/mux/stream.rs
Due: multiplexer, client

Remove unnecessary closures
  src/client/handle_remote/socks/mod.rs
  src/client/handle_remote/tcp.rs
  src/client/handle_remote/udp.rs
  src/mux/lib.rs
  src/mux/stream.rs
  src/mux/task.rs
  src/mux/tests.rs
  src/server/service.rs
  src/tls/rustls.rs
Due: multiplexer, server, client

Implement client timeout
  src/arg.rs
  src/client/mod.rs
  src/client/ws_connect.rs
  src/tests.rs
Due: client

Capture Ctrl-C so that WS can be closed cleanly
  src/client/mod.rs
Due: client

Tests for the actual upgrade with PSK
  src/server/service.rs
Due: server

Add test
  src/client/mod.rs
  src/tests.rs
Due: client

Allow retry and add tests
  src/client/maybe_retryable.rs
  src/client/mod.rs
  src/tests.rs
Due: client

Implement some Eq
  src/parse_remote.rs
Due: none

Make sure socks write response in one piece
  src/client/handle_remote/socks/v4.rs
  src/client/handle_remote/socks/v5.rs
  src/tests.rs
Due: client

Implement multiple server datagrams
  src/server/forwarder.rs
  src/server/websocket.rs
Due: server

Clean up borrows and rename for clarity (client)
  src/client/handle_remote/socks/mod.rs
  src/client/handle_remote/socks/v4.rs
  src/client/handle_remote/socks/v5.rs
  src/client/mod.rs
  src/mux/stream.rs
Due: multiplexer, client

Reduce close wait to strictly necessary
  src/client/mod.rs
Due: client

Fix UDP blocking the loop
  src/server/forwarder.rs
  src/server/websocket.rs
Due: server

Fix unable to cancel connection
  src/client/mod.rs
  src/client/ws_connect.rs
  src/mux/timing.rs
Due: multiplexer, client

Allow cancelling during waiting
  src/client/mod.rs
Due: client

Allow disabling client or server individually
  Cargo.toml
  src/arg.rs
  src/main.rs
Due: none

Add tests for feature flags
  .github/workflows/rust-build.yml
  .github/workflows/rust-test.yml
  src/mux/dupe.rs
Due: multiplexer

Fix tokio features
  Cargo.toml
Due: none

Tests for bind request
  src/mux/tests.rs
Due: multiplexer

Fix actions
  .github/workflows/rust-build.yml
Due: none

Try nohash_hasher
  Cargo.lock
  Cargo.toml
  src/client/mod.rs
  src/mux/lib.rs
  src/mux/task.rs
  src/server/websocket.rs
Due: multiplexer, server, client

Fix build
  .github/workflows/rust-build.yml
Due: none

Add nohash explicitly to tests
  .github/workflows/rust-test.yml
Due: none

Fix action link in readme
  README.md
Due: none

Improve logging
  src/mux/task.rs
Due: multiplexer

Switch back to hyper-util client
  Cargo.lock
  Cargo.toml
  src/mux/dupe.rs
  src/server/mod.rs
  src/server/service.rs
  src/tests.rs
  src/tls/mod.rs
  src/tls/rustls.rs
Due: multiplexer, server

Implement the same for nativetls
  Cargo.toml
  src/server/service.rs
  src/tls/mod.rs
  src/tls/native.rs
  src/tls/rustls.rs
Due: server

Fix acme tests
  src/server/acme/challenge_helper.rs
  src/server/acme/mod.rs
  src/tls/mod.rs
Due: server

Fix TODOs
  src/server/mod.rs
  src/server/service.rs
Due: server

Fix pure client
  src/tls/mod.rs
  src/tls/native.rs
  src/tls/rustls.rs
Due: none

Document all features
  Cargo.toml
  README.md
Due: none

Fix enforce_http in acme tests
  src/server/acme/mod.rs
Due: server

Fix typo
  src/server/acme/mod.rs
Due: server

Allow the choice of aws-lc-rs vs ring
  Cargo.lock
  Cargo.toml
Due: none

Docs
  README.md
Due: none

Add selection to tests
  .github/workflows/rust-build.yml
Due: none

Fix duplicate features
  .github/workflows/rust-build.yml
Due: none

Path conditions:
  multiplexer: any of: src/mux/**
  server: any of: src/server/**
  client: any of: src/client/**
