Repository myzhang1029/penguin-rs: changes, and which Codecov flags are due for each by the changed paths.
All: multiplexer, server, client

.codecov.yml:

component_management:
  default_rules:
    paths:
      - src/**
  individual_components:
    - component_id: rlib_penguin_mux
      name: multiplexer
      paths:
        - src/mux/**
    - component_id: bin_penguin_server
      name: server
      paths:
        - src/server/**
    - component_id: bin_penguin_client
      name: client
      paths:
        - src/client/**

Initial tproxy support
  Cargo.lock
  Cargo.toml
  src/arg.rs
  src/client/handle_remote/mod.rs
  src/client/handle_remote/tproxy.rs
  src/client/handle_remote/tproxy_stub.rs
  src/parse_remote.rs
Due: client

Fix clippy
  src/client/handle_remote/mod.rs
  src/client/handle_remote/tproxy.rs
Due: client

Add missing ring to CI
  .github/workflows/rust-build.yml
  .github/workflows/rust-test.yml
Due: none

Simplify code
  src/tls/rustls.rs
Due: none

Unified alpn handling
  src/server/acme/mod.rs
  src/tls/mod.rs
  src/tls/native.rs
  src/tls/rustls.rs
Due: server

Fix native-tls flags
  Cargo.toml
  src/server/acme/mod.rs
Due: server

Bump webpki-roots to v1
  Cargo.lock
  Cargo.toml
Due: none

Simplify code
  Cargo.lock
  src/tls/rustls.rs
Due: none

Run CI on non-main
  .github/workflows/rust-build.yml
  .github/workflows/rust-test.yml
Due: none

Add features to clippy.yml
  .github/workflows/clippy.yml
Due: none

Introduce loom testing
  Cargo.lock
  Cargo.toml
  src/mux/dupe.rs
  src/mux/lib.rs
  src/mux/loom.rs
  src/mux/stream.rs
  src/mux/task.rs
  src/mux/tests.rs
  src/mux/timing.rs
Due: multiplexer

Add loom to CI
  .github/workflows/rust-test.yml
Due: none

TLS none
  Cargo.lock
  src/client/ws_connect.rs
  src/main.rs
  src/server/mod.rs
  src/tls_none.rs
Due: server, client

Debugging with dhat
  Cargo.lock
  Cargo.toml
  src/main.rs
  src/server/mod.rs
Due: server

More loom tests
  .github/workflows/rust-test.yml
  Cargo.lock
  src/mux/stream.rs
Due: multiplexer

Update lint definition
  Cargo.lock
  src/main.rs
  src/mux/config.rs
  src/mux/lib.rs
  src/server/acme/mod.rs
  src/server/mod.rs
Due: multiplexer, server

Update lint definition
  Cargo.lock
  src/arg.rs
  src/main.rs
  src/mux/config.rs
  src/mux/lib.rs
  src/server/acme/mod.rs
  src/server/mod.rs
Due: multiplexer, server

Merge some cfg! based functions in rustls
  src/tls/mod.rs
  src/tls/native.rs
  src/tls/rustls.rs
Due: none

Remove direct HTTP timeout
  src/server/mod.rs
Due: server

More loom tests
  .github/workflows/rust-test.yml
  src/mux/stream.rs
Due: multiplexer

Remove tests for http timeout
  src/tests.rs
Due: none

Direct IoWithTimeout implementation
  src/mux/timing.rs
  src/server/io_with_timeout.rs
  src/server/mod.rs
Due: multiplexer, server

Add tests for io_with_timeout
  src/server/io_with_timeout.rs
Due: server

Revert "Remove tests for http timeout"
  src/tests.rs
Due: none

`timing::OptionalDuration` methods take a self
  src/mux/timing.rs
Due: multiplexer

Fix timeout after read pending
  src/server/io_with_timeout.rs
  src/server/mod.rs
Due: server

Downcast
  src/server/io_with_timeout.rs
  src/server/service.rs
Due: server

Specify the correct type
  src/server/mod.rs
  src/server/service.rs
  src/tls/mod.rs
Due: server

Refactor Stream type in server
  src/server/mod.rs
  src/server/service.rs
  src/tls/maybe_tls.rs
  src/tls/mod.rs
Due: server

Fix use of hyper_util::server::conn::auto::upgrade
  src/server/service.rs
Due: server

Ignore `clippy::large_enum_variant` for `MaybeTlsStream`
  src/tls/maybe_tls.rs
Due: none

Use our MaybeTlsStream in client
  src/client/mod.rs
  src/client/ws_connect.rs
  src/tls/mod.rs
  src/tls/rustls.rs
Due: client

Remove tokio_tungstenite connect dependency
  Cargo.lock
  Cargo.toml
Due: none

Fix compilation for nativetls
  src/tls/mod.rs
  src/tls/native.rs
Due: none

Fix IPv6 connect
  src/client/ws_connect.rs
Due: client

Force a port in the ServerUrl parser
  src/arg.rs
  src/client/ws_connect.rs
Due: client

Reorganize helper functions
  src/client/ws_connect.rs
Due: client
