Repository myzhang1029/penguin-rs: changes, and which Codecov flags are due for each by the changed paths.
All: multiplexer, server, client

.codecov.yml:

component_management:
  default_rules:
    paths:
      - src/**
  individual_components:
    - component_id: rlib_penguin_mux
      name: multiplexer
      paths:
        - src/mux/**
    - component_id: bin_penguin_server
      name: server
      paths:
        - src/server/**
    - component_id: bin_penguin_client
      name: client
      paths:
        - src/client/**

Fix clippy
  src/client/mod.rs
Due: client

Allow empty reports
  .github/workflows/rust.yml
Due: none

Initial tproxy support
  Cargo.lock
  Cargo.toml
  src/arg.rs
  src/client/handle_remote/mod.rs
  src/client/handle_remote/tproxy.rs
  src/client/handle_remote/tproxy_stub.rs
  src/parse_remote.rs
Due: client

Fix clippy
  src/client/handle_remote/mod.rs
Due: client

Server arg parsing
  src/arg.rs
  src/server/mod.rs
  src/server/service.rs
  src/server/websocket.rs
Due: server

Fix clippy
  src/client/handle_remote/tproxy.rs
Due: client

Disable fail_if_error on codecov upload
  .github/workflows/rust.yml
Due: none

Fix action warning
  .github/workflows/rust.yml
Due: none

Remove unused async
  src/client/handle_remote/socks/mod.rs
  src/client/handle_remote/udp.rs
  src/client/mod.rs
Due: client

Add benchmarks
  Cargo.lock
  Cargo.toml
  benches/stream_throughput.rs
Due: none

Finish bench for stream
  benches/stream_throughput.rs
Due: none

Add missing inline on Dupe
  src/mux/dupe.rs
  src/mux/frame.rs
Due: multiplexer

Fix sinking empty messages and add test
  .config/nextest.toml
  Cargo.toml
  src/mux/frame.rs
  src/mux/inner.rs
  src/mux/tests.rs
Due: multiplexer

Add tests
  src/mux/frame.rs
  src/mux/inner.rs
  src/mux/tests.rs
Due: multiplexer

Clean up logic
  src/mux/inner.rs
  src/mux/tests.rs
Due: multiplexer

Simplify some logic
  src/mux/dupe.rs
  src/mux/inner.rs
  src/mux/lib.rs
  src/mux/stream.rs
Due: multiplexer

Add more debug checks
  src/mux/inner.rs
  src/mux/stream.rs
Due: multiplexer

Fix unnecessary closure
  src/mux/frame.rs
Due: multiplexer

Fix typo
  src/mux/inner.rs
Due: multiplexer

Fix cancellation issues
  src/mux/inner.rs
Due: multiplexer

Refactor tasks into their own thing
  src/mux/inner.rs
  src/mux/lib.rs
  src/mux/task.rs
  src/mux/tests.rs
Due: multiplexer

Further reorganize tasks, reduce argument passing
  src/mux/inner.rs
  src/mux/lib.rs
  src/mux/stream.rs
  src/mux/task.rs
Due: multiplexer

Add log points
  src/mux/lib.rs
  src/mux/stream.rs
  src/mux/task.rs
Due: multiplexer

Get rid of FLUSH frame
  src/mux/frame.rs
  src/mux/stream.rs
  src/mux/task.rs
Due: multiplexer

Fully fet rid of inner
  src/mux/inner.rs
  src/mux/lib.rs
  src/mux/task.rs
  src/mux/tests.rs
Due: multiplexer

Box the task future
  src/mux/task.rs
Due: multiplexer
